main {
    width: 16git00px;
}
.skill{
    width: 100%;
    height: 100px;
    background-color: blueviolet;
}
.skill-1{
    width: 90%;
    height: 90px;
    background-color: rgb(205, 219, 3);
}
.skill-2{
    width: 80%;
    height: 80px;
    background-color: rgb(219, 3, 46);
}
.skill-3{
    width: 70%;
    height: 70px;
    background-color: rgb(3, 219, 39);
}
.skill-4{
    width: 60%;
    height: 60px;
    background-color: rgb(241, 7, 128);
}
.skill-5{
    width: 50%;
    height: 50px;
    background-color: rgb(252, 144, 11);
}
button{
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: baseline;
  color: rgba(255, 255, 255, 0.997);
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0em 0.25em 0em 0em;
  padding: 0.78571429em 1.5em 0.78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: bold;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 0.28571429rem;
  box-shadow: 0px 0px 0px 1px transparent inset, 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent;
}
.red{
    background: red; none;
}
.orange{
    background: #f54f13;
}
.yellow{
    background: #FFD700;
}
.olive{
    background: #32CD32;
}
.green{
    background: #016936;
}
.teal{
    background: #008080;
}
.blue{
    background: #0E6EB8;
}
.violet{
    background: #EE82EE;
}
.purple{
    background: #B413EC;
}
.pink{
    background: #FF1493;
}
.brown{
    background: #A52A2A;
}
.grey{
    background: #A0A0A0;
}
.black{
    background: #000000;
}
/* .skill-scale {
    height: 10px;
    background-color: darkgray;
}
.skill-scale-internal {
    width: 80%;
    height: 10px;
    background-color: rgb(66, 10, 220);
} */

/* aspect-ratio 
соотношение сторон
16/9
16 - ширина 
9 - высота
*/